#botón_enviar
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#botón_ordenar
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}
#ver_nombre_con_comas
{
	border: 1px solid  lightseagreen;
    padding: 10px;
	background-color: blue;
	border-radius: 10px;
    width: 50%;
}

#ver_nombre_sin_comas
{
	border: 1px solid yellow;
    padding: 10px;
    background-color: lightgreen;
	border-radius: 10px;
    width: 50%;
}
